body {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.header {
    color: white;
    font-size: 20px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}

ul {
    list-style: none;
    display: inline-flex;
}

a {
    color: grey;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    color: white;
}


.contentcontainer {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 75px 100px;
    align-items: flex-start;
    
}

.contenttext {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    flex-wrap: wrap;
    padding-right: 15px;
}

.contenttext2 {
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb;
    padding: 5px 0px;
}

.contentcontainer img {
   width: 50%;
   height: auto;
   flex: auto;
}

.contentsignupbutton {
    display: flex;
    flex-shrink: 0;
    padding: 5px 15px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
}

.contentsignupbutton:hover {
    background-color: white;
    color:#3882f6;
}

.randominformationtext {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 35px;
    font-weight: bold;
    color: #1f2937
}

.img_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.img_box {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: auto;
    justify-content: center;
}

.img_container img {
    display: flex;
    width: 100%;
    height: auto;
    border: #3882f6 solid 3px;
    border-radius: 8px;
}

.infotext {
    color: grey;
    text-align: center;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.author {
    align-self: flex-end;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
}

.adcontainer {
    display: flex;
    padding: 75px 100px;
    justify-content: center;
    align-items: center;
}

.ad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f7af3;
    padding: 20px 40px;
    border-radius: 12px;
    gap: 30px;
}

.adtext {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.adtext2 {
    color: rgb(231, 225, 225);
    font-size: 18px;
    font-weight: normal;
}

.adcontainersignupbutton {
    display: flex;
    flex-shrink: 0;
    padding: 5px 15px;
    background-color: #2f7af3;
    color: white;
    border: white solid 2px;
    border-radius: 8px;
}

.adcontainersignupbutton:hover {
    background-color: white;
    color: #2f7af3;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    color: white;
    font-size: 12px;
    padding: 20px;
    margin-top: auto;
}