body {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.footer {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

ul {
    list-style: none;
    display: inline-flex;
}

a {
    color: grey;
    font-size: 12px;
    text-decoration: none;
    padding: 0 5px;
}

a:hover {
    color: white;
}
