body {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.header {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}

ul {
    list-style: none;
    display: inline-flex;
}

a {
    color: grey;
    font-size: 12px;
    text-decoration: none;
    padding: 0 5px;
}

a:hover {
    color: white;
}


.contentcontainer {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 75px 100px;
    align-items: flex-start;
    
}

.contenttext {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    flex-wrap: wrap;
    padding: 10px 15px;
}

.contenttext2 {
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb;
    padding: 5px 0px;
}

.contentcontainer img {
   width: 50%;
   height: auto;
   flex: auto;
}

.contentsignupbutton {
    display: flex;
    padding: 5px 15px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
}